.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #48acf0;
  height: 100vh;
  margin: 0 50px;
  color: white;
}

p {
  text-align: left;
  color: #eee;
  font-size: 24px;
  transition: all 1s ease;
  padding: 0;
  margin: 10px 0;
}

.info {
  text-align: left;
  margin: 20px 0;
}

.info > h2 {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.info > p {
  font-size: 12px;
  padding: 0;
  margin: 5px 0;
}
